[user]
    email = einenlum@vmail.me
    name = Einenlum
[push]
    default = current
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
[merge]
    tool = meld
[mergetool]
    keepBackup = false
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    ac = !git add -A && git commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s%Cgreen(%cr) %C(bold blue)<%an>%Creset'--abbrev-commit --date=relative
