snippet ipsr "Interface declaration template" !b
${`!v CreatePHPClass('interface')`}
endsnippet

snippet cpsr "Class declaration template" !b
${`!v CreatePHPClass('default')`}
endsnippet

snippet tpsr "Trait declaration template" !b
${`!v CreatePHPClass('trait')`}
endsnippet
