snippet ent "PSR0 class"
<?php

declare(strict_types=1);

namespace ${1:`!v PhpNamespaceGet()`};

use Doctrine\Common\Collections\ArrayCollection;
use Doctrine\ORM\Mapping as ORM;

/**
 * @ORM\Entity
 */
class ${2:`!v expand("%:t:r")`}
{
    /**
     * @ORM\Column(type="bigint")
     * @ORM\Id
     * @ORM\GeneratedValue
     */
    private $id;

    public function getId()
    {
        return $this->id;
    }

    ${1}
}
endsnippet
