snippet fun "method"
${1:public} function ${2}($3)
{
    $4
}
endsnippet

snippet ifun "method"
${1:public} function ${2}($3);
endsnippet

snippet con "constructor"
public function __construct($1)
{
}
endsnippet
