snippet ipsr "Interface declaration template" !b
<?php

namespace ${1:`!v PhpNamespaceGet()`};

interface ${1:`!v expand("%:t:r")`}
{
}
endsnippet

snippet cpsr "Class declaration template" !b
<?php

namespace ${1:`!v PhpNamespaceGet()`};

class ${1:`!v expand("%:t:r")`}
{
}
endsnippet

snippet tpsr "Trait declaration template" !b
<?php

namespace ${1:`!v PhpNamespaceGet()`};

trait ${1:`!v expand("%:t:r")`}
{
}
endsnippet
