snippet sg
public function get${2/\w+\s*/\u$0/}()
{
    return $this->${2};
}

public function set${2/\w+\s*/\u$0/}($$2)
{
    $this->$2 = $$2;

	return $this;
}
endsnippet

snippet gt
public function get${2}()
{
    return $this->${2/\w+\s*/\l$0/};
}
endsnippet

snippet st
public function set${2}($${2/\w+\s*/\l$0/})
{
    $this->${2/\w+\s*/\l$0/} = $${2/\w+\s*/\l$0/};

	return $this;
}
endsnippet
